body {
    background-image: url("https://s3-eu-central-1.amazonaws.com/www-staging.esports.com/WP%20Media%20Folder%20-%20esports-com//var/app/current/web/app/uploads/2021/02/Riot-Games-League-of-legends-beginners-guide.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
}

#home-label{

    font-size: 4rem;
    color: white;
    font-weight: bold;
    text-shadow: red 1px 0 10px;
    padding: 10rem;
    font-family: "Sofia", sans-serif;
    text-transform: capitalize;
    text-align: right;

   }

   .quotes-container{
    
    color:white;
    font-family: "Sofia", sans-serif;

   }